Ans 1

This [] is empty list value, which is a list value that contains no items. This is similar to how '  ' is the empty string value.

Ans 2

In [1]:
spam = [2,4,6,8,10]
spam[2]= "hello"
spam

[2, 4, 'hello', 8, 10]

Ans 3

int(int('3'*2)/11) = 33/11 = 3 , So value of 3rd index wil be printed.

In [2]:
spam = ['a', 'b', 'c', 'd']
spam[int(int('3'*2)/11)]

'd'

Ans 4

It will print last value of list

In [3]:
spam[-1]

'd'

Ans 5

It will print values of index value 0 and 1

In [4]:
spam[:2]

['a', 'b']

Ans 6

index value of cat is 1

In [5]:
bacon = ['3.14', 'cat','11','cat', True]
i = bacon.index('cat')
i

1

Ans 7

99 is added at end of list

In [6]:
bacon.append(99)

In [7]:
bacon

['3.14', 'cat', '11', 'cat', True, 99]

Ans  8

It scans for 'cat' from the starting of the list and it removes it but it does not remove multiple same elements in list.

In [8]:
bacon.remove('cat')
bacon

['3.14', '11', 'cat', True, 99]

Ans  9

List concatenation - It is used to merge two or more list.

In [9]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
concatinated_list = l1+l2
concatinated_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

List replication - It copies the whole list multiple times.

In [10]:
def replication(li1):
    li_copy = [i for i in li1]
    return li_copy
  
li1 = [4, 8, 2, 10, 15, 18]
li2 = replication(li1)
print("Original List:", li1)
print("After replicating:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After replicating: [4, 8, 2, 10, 15, 18]

Ans 10

The difference is that with append, you just add a new entry at the end of the list. With insert(position, new_entry) you can create a new entry exactly in the position you want.

In [11]:
l1 = [1,2,3,4,5]
l1.append(6)
print(f"Appended list {l1}")
l2 = [6,7,8,9,10]
l2.insert(2,10)
print(f"List using insert {l2}")

Appended list [1, 2, 3, 4, 5, 6]
List using insert [6, 7, 10, 8, 9, 10]

Ans 11

Method 1 : using remove()- method removes the first matching value

In [12]:
l1 = [1,2,3,4,5]
l1.remove(2)
print(f"Removed 2 from list {l1}")

Removed 2 from list [1, 3, 4, 5]

Method 2 : using pop() -method removes the item at a specified index

In [13]:
l1 = [1,2,3,4,5]
l1.pop(2)
print(f"pop 3 from list {l1}")

pop 3 from list [1, 2, 4, 5]

Ans 12

 Lists are similar to strings, which are ordered sets of characters, except that the elements of a list can have any type.

Ans 13

List has mutable nature i.e., list can be changed or modified after its creation according to needs whereas tuple has immutable nature i.e., tuple canâ€™t be changed or modified after its creation.

Ans 14

In [14]:
t = (42)
print(t)

42

Ans 15

list value in tuple form

In [15]:
lst = [1, 2, 3, 4, 5, 6, 7]
print(tuple(lst))

(1, 2, 3, 4, 5, 6, 7)

In [16]:
tuple value in list form?

Object `form` not found.

In [ ]:
tuple value in list form

In [17]:
tup = (1, 2, 3, 4, 5, 6, 7 );
print (list(tup))

[1, 2, 3, 4, 5, 6, 7]

Ans 16

Variables that contain list values may contain any other types of values like tuple, dictionary, boolean, float, string etc.

In [18]:
a = "this is string"
b = {"car": "fortuner", "model":"2021", "engine":"petrol"}
c = (1,2,3,4)
d = True

list = [a,b,c,d]

Ans 17

A shallow copy constructs a new compound object and then inserts references into it to the objects found in the original.

A deep copy constructs a new compound object and then, recursively, inserts copies into it of the objects found in the original.

In [19]:
import copy 

li1 = [1, 2, [3,5], 4]
    
li2 = copy.copy(li1) 
print("Shallow copy",li2)
  
li3 = copy.deepcopy(li1) 
print("Deep copy",li3)

Shallow copy [1, 2, [3, 5], 4]
Deep copy [1, 2, [3, 5], 4]