Ans 1 - Boolean may have either True or Flase.

Ex:

In [1]:
a  =(1,2,3,4)

In [2]:
7 in a

False

In [3]:
1 in a

True

Ans 2 - Types of boolean operators are and, or & not.

        and - it gives true only if both the condition are satisfied (true)
        or - it gives true even any one condition is satisfied or false if both are not satisfied.
        not - it gives true if the given condition is not satisfied.

Ans - 3 Truth table for boolean operators :

       -> and
       
        a     b       output
        
      false  false    false
      false  true     false
      true   false    false
      true   true     true
      
      
      
       -> or
       
        a     b       output
        
      false  false    false
      false  true     true
      true   false    true
      true   true     true
      
      
      
       -> not
       
        a       output
        
      false     true
       true     false

Ans - 4

In [4]:
(5 > 4) and (3 == 5)

False

In [5]:
not(5>4)

False

In [6]:
(5>4) or (3==5)

True

In [7]:
not((5>4) or (3==5))

False

In [8]:
(True and True) and (True== False)

False

In [9]:
(not False) or (not True)

True

Ans 5 - Comparasion operators are  >, <, >=, <=, != ,==

Ans 6 -

Assignment operator assigns the value to the variable, while equal to compares the value of variable to give True or False.

In [10]:
a=2 #assigns 2 to variable a
a

2

In [11]:
b=3

In [12]:
a==b # compares the value of a & b

False

Ans - 7

In [13]:
spam = 0
if spam == 10:      # block 1
    print('eggs')
    
if spam >5:         # block 2
    print('bacon')
else:               # block 3
    print('ham')
    print('spam')
    print('spam')

ham
spam
spam

Ans - 8

In [14]:
spam = 0
if spam == 1:
    print('Hello')
    
if spam ==2:       
    print('Howdy')
else:             
    print('Greetings!')

Greetings!

Ans - 9

ctrl+c

Ans - 10

Break is used for termination of loop and Conutinue will skip the rest of code inside the loop for current iteration.

In [15]:
# Use of break statement inside the loop

for value in "Rishi":
    if value == "i":
        break
    print(value)

print("The End")

R
The End

In [16]:
for value in "Rishi":
    if value == "i":
        continue
    print(value)

print("The End")

R
s
h
The End

Ans - 11

In [17]:
5 in range(10) # it define the range upto 9 index value assuming default statrting index as 0

True

In [18]:
5 in range(0,10) # it define the range from 0 to 9 index value

True

In [19]:
5 in range(0,10,1) # it define the range from 0 to 9 index value with consecutive difference of 1.

True

Ans - 12

In [20]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [34]:
i=0
while i >=0 and i<10:
      i +=1
      print(i)

1
2
3
4
5
6
7
8
9
10

Ans - 13

In [36]:
def spam():
    bacon()