Ans -1

In [31]:
def to_miles(m):
    m = m * 1.609
    return m

In [32]:
to_miles(15)

24.134999999999998

Ans 2

In [16]:
def celsius_to_ferenheit(c):
    f = ((9/5) *c)+32
    return f

In [17]:
celsius_to_ferenheit(32)

89.6

Ans 3

In [19]:
import calendar
        
yy = int(input("Enter year : "))
mm = int(input("Enter month : "))
print(calendar.month(yy,mm))

Enter year : 2021
Enter month : 5
      May 2021
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

Ans 4

In [17]:
def quadratic_equation(a,b,c):
    d = ((b**2) -(4*a*c))**0.5
 
    
    r1 = (-b+d)/2*a 
    r2 = (-b-d)/2*a 
        
    return r1,r2

In [18]:
quadratic_equation(2,4,6)

((-3.9999999999999996+5.656854249492381j), (-4-5.656854249492381j))

Ans 5

In [29]:
def swap(x,y):
    x, y = y, x
    print("Swapped no is",x,y )

In [30]:
swap(2,3)

Swapped no is 3 2