Ans 1

An escape character is a backslash \ followed by the character you want to insert.

Ex -  \t and \n

Ans 2

'\n'  -->  Leaves a line


'\t'  -->  Leaves a tab space

Ans 3

we can use two backslashes to represent a backslash

i.e Use the syntax "\ " within the string literal to represent a single backslash

Ans 4

The single quote character in the word How's not escaped a problem because 
the whole statement is quoted by double inverted comas as we can use single 
inverted within double inverted also we can use double inverted within tripple inverted coma.

Ans 5

In [1]:
print("First test string.")
print("Second test string.")

First test string.
Second test string.

Ans 6

'Hello, world!'[1]    ---> 'e'

'Hello, world!'[0:5]  --->'Hello'

'Hello, world!'[:5]   --->'Hello'

'Hello, world!'[3:]   --->'lo, world!'

In [2]:
'Hello, world!'[1]

'e'

In [3]:
'Hello, world!'[0:5]

'Hello'

In [4]:
'Hello, world!'[:5]

'Hello'

In [5]:
'Hello, world!'[3:]

'lo, world!'

Ans 7

Hello.upper()   = HELLO

Hello.upper().isupper() = True

Hello.upper().lower() = hello

In [6]:
'Hello'.upper()

'HELLO'

In [7]:
'Hello'.upper().isupper()

True

In [8]:
'Hello'.upper().lower()

'hello'

Ans 8

In [9]:
'Remember, remember, the fifth of July.'.split()

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

In [10]:
'-'.join('There can only one.'.split())

'There-can-only-one.'

Ans 9

In [11]:
'string'.ljust(10, "-")  # Left justified

'string----'

In [12]:
'string'.rjust(10, "-")  # Right justified

'----string'

In [13]:
'string'.center(10, "-")  # center justified

'--string--'

Ans 10

In [14]:
s = "     Removing whitespace from start       "
e = "     Removing whitespace from end       "
start = s.lstrip()
end = e.rstrip()
print(start,"\n",end)

Removing whitespace from start
      Removing whitespace from end